body{
    padding:5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#logo{border-radius:50%;}
#main-container{
padding: 10px;
margin: auto;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}
#ctc{
    position: fixed;
    top: 5rem;
    right: 0.5rem;
    color: white;
    background-color: green;
    padding:5px;
    border-radius:50%;
    border:3px outset;
    }
    #ctc:hover{
    color: white;
    background-color:red;
    }